@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #1f2937;
}
